$color_scrollbarY_active: #6387df;
$color_scrollbarY: #aaa;
$color_scrollbar_wrap: #d7d7d7;
$width_scrollbar: 8px;

.js-scroll-container {
    overflow: hidden !important;
    position: relative;
    & > .js-scrollbar-y-wrap {
        display: none;
        background-color: transparent;
        width: $width_scrollbar;
        background-color: $color_scrollbar_wrap;
        opacity: 1;
        position: absolute;
        transition: background-color .2s linear, opacity .2s linear;
        right: 0;
        & > .js-scrollbar-y {
            position: absolute;
            border-radius: $width_scrollbar;
            transition: background-color .2s linear, height .2s linear;
            background-color: $color_scrollbarY;
            right: 0;
            width: $width_scrollbar;
        }
        &:hover,  &:active{
            & > .js-scrollbar-y {
                background-color: $color_scrollbarY_active;
            }
        }
    }
}